<footer class="sheet-footer">
    <a href="#"
       class="{% if this.activeContent == 'details' %}active{% endif %}"
            {{ live_action('setActiveContent', {'content': 'details'}) }}
       onclick="return false">
        {{ ux_icon('solar:user-id-bold', {'class': 'app-icon'}) }}
    </a>

    <a href="#"
       class="{% if this.activeContent == 'inventory' %}active{% endif %}"
            {{ live_action('setActiveContent', {'content': 'inventory'}) }}
       onclick="return false">
        {{ ux_icon('game-icons:light-backpack', {'class': 'app-icon'}) }}
    </a>

    <a href="#"
       class="{% if this.activeContent == 'equipment' %}active{% endif %}"
            {{ live_action('setActiveContent', {'content': 'equipment'}) }}
       onclick="return false">
        {{ ux_icon('game-icons:cape-armor', {'class': 'app-icon'}) }}
    </a>

    {% if character.profession.type == 'magical' %}
        <a href="#"
           class="{% if this.activeContent == 'spells' %}active{% endif %}"
                {{ live_action('setActiveContent', {'content': 'spells'}) }}
           onclick="return false">
            {{ ux_icon('game-icons:spell-book', {'class': 'app-icon'}) }}
        </a>
    {% endif %}

    {% if this.characterType == 'pregenerated' %}
        <a href="{{ path('app_character_customize', {'slug': this.character.slug}) }}"
           class="bg-primary">
            {{ ux_icon('game-icons:play-button', {'class': 'app-icon'}) }}
        </a>
    {% else %}
        <a href="#"
           class="{% if this.activeContent == 'quests' %}active{% endif %}"
                {{ live_action('setActiveContent', {'content': 'quests'}) }}
           onclick="return false">
            {{ ux_icon('game-icons:scroll-quill', {'class': 'app-icon'}) }}
        </a>
    {% endif %}
</footer>
