<header class="sheet-header">
    {% if this.characterType == 'pregenerated' %}
        <a href="{{ path('app_character_create') }}" class="app-button back">
            {{ ux_icon('icon-park-solid:back', {'class': 'app-icon'}) }}
        </a>
    {% else %}
        <a href="{{ back }}" class="app-button back">
            {{ ux_icon('icon-park-solid:back', {'class': 'app-icon'}) }}
        </a>
    {% endif %}

    <figure class="sheet-picture">
        {% if this.characterType == 'pregenerated' %}
            <img src="{{ asset('img/core/pregenerated/' ~ character.picture) }}" alt="{{ character.name }}"/>
        {% else %}
            <img src="{{ asset('uploads/character/' ~ character.picture) }}" alt="{{ character.name }}"/>
        {% endif %}
    </figure>

    <h1>{{ character.name }}</h1>
    <h2>{{ contentTitle }}</h2>
</header>
