<footer class="screen-footer">
    <div class="actions">
        {% for action in this.currentScene.actions %}
            <button class="action"
                    title="{{ action.label }}"
                    {{ live_action('changeScreen', {'targetScreenId': action.targetScreen.id, 'targetSceneId': action.targetScene.id }) }}>
                {% if action.picture %}
                    <img src="{{ asset('img/core/action/' ~ action.picture) }}" alt="{{ action.label }}"/>
                {% else %}
                    {{ action.label }}
                {% endif %}
            </button>
        {% endfor %}
    </div>

    <div class="description scrollable">
        {{ this.currentScreenDescription | raw }}
    </div>
</footer>
