<footer class="screen-footer">
    <div class="actions">
        {% for action in this.currentScene.actions %}
            {% set hidden = false %}
            {% if 'Voler' in action.label and this.character.profession.type != 'Furtivité' %}
                {% set hidden = true %}
            {% elseif 'Voler' in action.label and this.character.profession.type == 'Furtivité' %}
                <button class="action"
                        title="{{ action.label }}"
                        {{ live_action('steal', {'targetScreenId': action.targetScreen.id, 'targetSceneId': action.targetScene.id, 'actionRequirements': action.actionRequirements, 'actionEffects': action.actionEffects }) }}>
                    <img src="{{ asset('img/' ~ action.picture) }}" alt="{{ action.label }}"/>
                    {{ this.currentNpc.fortune }}
                </button>
            {% else %}
                {% for requirement, value in action.actionRequirements %}
                    {% if requirement == 'hasNoQuest' %}
                        {% for characterQuest in app_characterQuestService.characterSecondaryQuests(app.user.player) %}
                            {% if characterQuest.quest.slug == value %}
                                {% set hidden = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if requirement == 'reputation' %}
                        {% if app_characterLocationReputationService.totalReputation(this.character, this.character.currentPlace.location) < value %}
                            {% set hidden = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <button class="action {% if hidden %}hidden{% endif %}"
                        title="{{ action.label }}"
                        {{ live_action('changeScreen', {'targetScreenId': action.targetScreen.id, 'targetSceneId': action.targetScene.id, 'actionEffects': action.actionEffects }) }}>
                    {% if action.picture %}
                        <img src="{{ asset('img/' ~ action.picture) }}" alt="{{ action.label }}"/>
                    {% else %}
                        {{ action.label }}
                    {% endif %}
                </button>
            {% endif %}
        {% endfor %}
    </div>

    <div class="description scrollable">
        {{ this.currentScreenDescription | raw }}
    </div>
</footer>
