<div class="app-tooltip"
     data-tooltip-target="tooltip"
     data-action="click->tooltip#close">
    <div class="tooltip-background" data-tooltip-target="background"></div>
    <div class="tooltip-body">
        <div class="tooltip-content">
            <div class="tooltip-header">
                {% if characterItem.charge is defined or characterItem.item.area is defined or characterItem.item.duration is defined or characterItem.item.range is defined %}
                    <div class="tooltip-attributes left">
                        {% if characterItem.charge is defined and characterItem.charge is not null %}
                            <div class="tooltip-attribute text-fourth">
                                {{ ux_icon('material-symbols-light:charger-rounded', {'class': 'app-icon'}) }}
                                {{ characterItem.charge }}
                            </div>
                        {% endif %}
                        {% if characterItem.item.area is defined and characterItem.item.area is not null %}
                            <div class="tooltip-attribute text-primary">
                                {{ ux_icon('ph:map-pin-area-fill', {'class': 'app-icon'}) }}
                                {{ characterItem.item.area }}
                            </div>
                        {% endif %}
                        {% if characterItem.item.duration is defined and characterItem.item.duration is not null %}
                            <div class="tooltip-attribute text-primary">
                                {{ ux_icon('lsicon:time-two-filled', {'class': 'app-icon'}) }}
                                {{ characterItem.item.duration }}
                            </div>
                        {% endif %}
                        {% if characterItem.item.range is defined and characterItem.item.range is not null %}
                            <div class="tooltip-attribute text-primary">
                                {{ ux_icon('material-symbols:social-distance-rounded', {'class': 'app-icon'}) }}
                                {{ characterItem.item.range }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="tooltip-attributes right">
                    {% if characterItem.item.category.slug != 'carte' and characterItem.item.category.slug != 'cadeau' %}
                        {% if characterItem.item.category.slug == 'armure' or characterItem.item.category.slug == 'bouclier' %}
                            <div class="tooltip-attribute text-primary">
                                {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon'}) }}
                                +{{ characterItem.item.defense }}
                            </div>
                        {% elseif characterItem.item.category.slug == 'arme' %}
                            <div class="tooltip-attribute text-primary">
                                {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon'}) }}
                                +{{ characterItem.item.damage }}
                            </div>
                        {% elseif characterItem.item.category.slug == 'arme-magique' %}
                            {% if characterItem.item.type == 'Offensif' %}
                                <div class="tooltip-attribute text-third">
                                    {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon'}) }}
                                    +{{ characterItem.item.amount }}
                                </div>
                            {% elseif characterItem.item.type == 'Défensif' %}
                                {% if characterItem.item.target == 'health' %}
                                    <div class="tooltip-attribute text-third">
                                        {{ ux_icon('game-icons:health-potion', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% elseif characterItem.item.target == 'mana' %}
                                    <div class="tooltip-attribute text-fourth">
                                        {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% elseif characterItem.item.category.slug == 'potion' or characterItem.item.category.slug == 'parchemin' or characterItem.item.category.slug == 'anneau' or characterItem.item.category.slug == 'amulette' %}
                            {% if characterItem.item.type == 'Défensif' %}
                                {% if characterItem.item.target == 'health' %}
                                    <div class="tooltip-attribute text-third">
                                        {{ ux_icon('game-icons:health-potion', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% elseif characterItem.item.target == 'mana' %}
                                    <div class="tooltip-attribute text-fourth">
                                        {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% elseif characterItem.item.target == 'defense' %}
                                    <div class="tooltip-attribute text-primary">
                                        {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% endif %}
                            {% elseif characterItem.item.type == 'Offensif' %}
                                {% if characterItem.item.target == 'health' %}
                                    <div class="tooltip-attribute text-third">
                                        {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% elseif characterItem.item.target == 'damage' %}
                                    <div class="tooltip-attribute text-primary">
                                        {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon'}) }}
                                        +{{ characterItem.item.amount }}
                                    </div>
                                {% endif %}
                            {% elseif characterItem.item.type == 'Utile' %}
                                <div class="tooltip-attribute text-primary">
                                    {{ ux_icon('entypo:tools', {'class': 'app-icon'}) }}
                                </div>
                            {% endif %}
                        {% elseif characterItem.item.category.slug == 'nourriture' %}
                            <div class="tooltip-attribute text-third">
                                {{ ux_icon('game-icons:health-potion', {'class': 'app-icon'}) }}
                                +{{ characterItem.item.amount }}
                            </div>
                        {% endif %}
                        {% if (characterItem.item.category.slug == 'armure' or characterItem.item.category.slug == 'bouclier' or characterItem.item.category.slug == 'arme') and characterItem.item.target is defined %}
                            {% if characterItem.item.target is defined and characterItem.item.target is not null %}
                                {% if characterItem.item.category.slug == 'armure' or characterItem.item.category.slug == 'bouclier' %}
                                    {% if characterItem.item.target == 'health' %}
                                        <div class="tooltip-attribute text-third">
                                            {{ ux_icon('game-icons:health-potion', {'class': 'app-icon'}) }}
                                            +{{ characterItem.item.amount }}
                                        </div>
                                    {% elseif characterItem.item.target == 'mana' %}
                                        <div class="tooltip-attribute text-fourth">
                                            {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon'}) }}
                                            +{{ characterItem.item.amount }}
                                        </div>
                                    {% elseif characterItem.item.target == 'defense' %}
                                        <div class="tooltip-attribute text-fourth">
                                            {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon'}) }}
                                            +{{ characterItem.item.amount }}
                                        </div>
                                    {% endif %}
                                {% elseif characterItem.item.category.slug == 'arme' %}
                                    {% if characterItem.item.target == 'damage' %}
                                        <div class="tooltip-attribute text-third">
                                            {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon'}) }}
                                            +{{ characterItem.item.amount }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                {% if characterItem.questItem is defined and characterItem.questItem %}
                    <h4 class="text-danger mb-1">Objet de quête</h4>
                {% endif %}

                {% if characterItem.equipped %}
                    <h4 class="text-warning mb-1">Objet équipé</h4>
                {% endif %}

                <h3 class="tooltip-title">{{ characterItem.item.name }}</h3>

                <h4 class="tooltip-subtitle">
                    {% if characterItem.item.category.slug in ['armure', 'bouclier', 'arme'] %}
                        {{ characterItem.item.type }}
                    {% endif %}
                </h4>

                {% if this.activeScreenType is not defined or this.activeScreenType != 'trade' %}
                    {% if not app_characterItemService.canEquipItem(this.character, characterItem) %}
                        <h4 class="text-danger">{{ this.character.name }} ne peut pas utiliser cet objet</h4>
                    {% endif %}
                {% endif %}

                {% if characterItem.item.category.slug == 'nourriture' and characterItem.item.effect is defined and characterItem.item.effect is not null %}
                    <h4 class="text-warning">{{ characterItem.item.effect }}</h4>
                {% endif %}

                <figure class="tooltip-picture">
                    <img src="{{ asset('img/core/item/' ~ characterItem.item.category.folder ~ '/' ~ characterItem.item.picture) }}" alt="{{ characterItem.item.name }}" class="tooltip-image"/>
                </figure>

                {% if characterItem.health is not null or characterItem.charge is not null %}
                    <div class="gauge">
                        <div class="gauge-fill {% if characterItem.health %}success{% elseif characterItem.charge %}info{% endif %}"
                             style="--value: {{ app_itemService.health(characterItem) }}"></div>
                    </div>
                {% endif %}
            </div>

            <div class="tooltip-description">
                {{ characterItem.item.description | raw }}
            </div>
        </div>
    </div>
</div>
