<div class="map-content travel {% if this.activeContent == 'travel' %}active{% endif %}">
    <img src="{{ asset('img/chapter1/location/' ~ this.location.parent.picture) }}" class="app-wallpaper" alt="{{ this.location.parent.name }}"/>
    <div class="app-overlay"></div>

    <h2 class="map-subtitle">
        <small>Voyager</small>
        {{ this.location.parent.name }}
    </h2>

    <div class="app-grid two">
        {% for playerLocation in this.character.playerLocations %}
            {% if playerLocation.location.type == 'location' %}
                <button class="app-button outline {% if (this.character.location.parent and playerLocation.location == this.character.location.parent) or playerLocation.location == this.character.location %}disabled{% endif %}"
                        {{ live_action('walk', {'locationId': playerLocation.location.id}) }}>
                    {{ playerLocation.location.name }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
</div>
