<div class="map-content travel {% if this.activeContent == 'travel' %}active{% endif %}">
    <img src="{{ asset('img/chapter1/location/' ~ this.location.parent.picture) }}" class="app-wallpaper" alt="{{ this.location.parent.name }}"/>
    <div class="app-overlay"></div>

    <h2 class="map-subtitle">
        <small>Voyager</small>
        {{ this.location.parent.name }}
    </h2>

    <div class="app-grid two">
        {% if hasRealmMap %}
            {% if this.character.location.type == 'building' %}
                {% set realm = this.character.location.parent.parent.parent %}
            {% elseif this.character.location.type == 'zone' %}
                {% set realm = this.character.location.parent.parent %}
            {% else %}
                {% set realm = this.character.location.parent %}
            {% endif %}

            {% for location in realm.children %}
                {% if location.type not in ['plain'] %}
                    <button class="app-button outline {% if (this.character.location.parent and location == this.character.location.parent) or location == this.character.location %}disabled{% endif %}"
                            {{ live_action('walk', {'locationId': location.id}) }}>
                        {{ location.name }}
                    </button>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for playerLocation in this.character.playerLocations %}
                {% if playerLocation.location.type == 'location' %}
                    {% if playerLocation.location.type not in ['plain'] %}
                        <button class="app-button outline {% if (this.character.location.parent and playerLocation.location == this.character.location.parent) or playerLocation.location == this.character.location %}disabled{% endif %}"
                                {{ live_action('walk', {'locationId': playerLocation.location.id}) }}>
                            {{ playerLocation.location.name }}
                        </button>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
