{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Votre Compte - Les Huit Royaumes - Chapitre I : L'Éveil{% endblock %}

{% block body_class %}front-office form profile{% endblock %}

{% block main %}
    <section class="app-section">
        {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
        <fieldset class="form-fieldset">
            <legend class="form-legend">Compte Joueur</legend>

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_help(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                {{ form_help(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
            </div>
        </fieldset>

        {{ form_widget(form._token) }}
        <button class="app-button cta" type="submit">Enregistrer</button>

        {% if app.user.character %}
            <p>
                <a href="{{ path('app_game_character_delete') }}"
                   class="app-button outline text-danger"
                   onclick="return window.confirm('Voulez-vous vraiment supprimer votre personnage ?');">
                    <small>Supprimer votre Personnage</small>
                </a>
            </p>

            {% if app.user.character.location %}
                <p>
                    <a href="{{ path('app_game_delete') }}"
                       class="app-button outline text-danger"
                       onclick="return window.confirm('Voulez-vous vraiment recommencer l\'aventure au début ?');">
                        <small>Recommencer l'aventure</small>
                    </a>
                </p>
            {% endif %}
        {% endif %}
        {{ form_end(form) }}
    </section>
{% endblock %}
