<div class="screen-footeractions">
    {% for location in this.activeScreen.location.children %}
        {% if location.type == 'building' %}
            <button class="screen-action" title="{{ location.name }}" {{ live_action('locationScreen', {'id': location.id}) }}>
                <img src="{{ asset('img/core/location/thumb_' ~ location.picture) }}" alt="{{ location.name }}"/>
            </button>
        {% endif %}
    {% endfor %}

    {% for npc in this.activeScreen.location.npcs %}
        <button class="screen-action" title="{{ npc.name }}" {{ live_action('interactionScreen', {'id': npc.id}) }}>
            {% if this.activeScreen.location.type == 'building' %}
                <img src="{{ asset('img/core/npc/thumb_' ~ npc.picture) }}" alt="{{ npc.name }}"/>
            {% else %}
                <img src="{{ asset('img/chapter1/npc/thumb_' ~ npc.picture) }}" alt="{{ npc.name }}"/>
            {% endif %}
        </button>
    {% endfor %}

    {% for combat in this.activeScreen.location.combats %}
        {% set playerHasCombat = false %}
        {% if combat.step %}
            {% for playerQuest in this.character.playerQuests %}
                {% if playerQuest.step == combat.step and playerQuest.status != 'completed' %}
                    {% set playerHasCombat = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if playerHasCombat %}
            <button class="screen-action quest" title="Quête{% if combat.name %} : {{ combat.name }}{% endif %}" {{ live_action('combatScreen', {'id': combat.id}) }}>
                {% if combat.thumb %}
                    <img src="{{ asset('img/' ~ combat.thumb) }}" alt="Quête{% if combat.name %} : {{ combat.name }}{% endif %}"/>
                {% else %}
                    <img src="{{ asset('img/core/action/attack.png') }}" alt="Quête{% if combat.name %} : {{ combat.name }}{% endif %}"/>
                {% endif %}
            </button>
        {% endif %}
    {% endfor %}

    {% for combat in this.activeScreen.location.combats %}
        {% if not combat.step %}
            {% set playerHasCombat = false %}
            {% set playerCombatExists = false %}
            {% for playerCombat in this.character.playerCombats %}
                {% if playerCombat.combat == combat %}
                    {% set playerCombatExists = true %}
                    {% if playerCombat.status != 'victory' %}
                        {% set playerHasCombat = true %}
                    {% else %}
                        {% set now = "now"|date("U") %}
                        {% set combatUpdatedAt = playerCombat.updatedAt|date("U") %}
                        {% set diff = now - combatUpdatedAt %}
                        {% if diff >= 86400 %}
                            {% set playerHasCombat = true %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if not playerCombatExists %}
                {% set playerHasCombat = true %}
            {% endif %}
            {% if playerHasCombat %}
                <button class="screen-action" title="Combat{% if combat.name %} : {{ combat.name }}{% endif %}" {{ live_action('combatScreen', {'id': combat.id}) }}>
                    {% if combat.thumb %}
                        <img src="{{ asset('img/' ~ combat.thumb) }}" alt="Combat{% if combat.name %} : {{ combat.name }}{% endif %}"/>
                    {% else %}
                        <img src="{{ asset('img/core/action/attack.png') }}" alt="Combat{% if combat.name %} : {{ combat.name }}{% endif %}"/>
                    {% endif %}
                </button>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if this.activeScreen.location.type == 'building' %}
        <button class="screen-action" title="Partir" {{ live_action('locationScreen', {'id': this.activeScreen.location.parent.id}) }}>
            <img src="{{ asset('img/core/action/exit.png') }}" alt="Partir"/>
        </button>
    {% endif %}
</div>
