<div class="characteristics">
    {{ ux_icon('jam:character', {'class': 'app-icon'}) }}

    <div class="characteristic">
        <h3>Force</h3>
        <p>{{ this.character.strength }}</p>
    </div>

    <div class="characteristic">
        <h3>Dextérité</h3>
        <p>{{ this.character.dexterity }}</p>
    </div>

    <div class="characteristic">
        <h3>Constitution</h3>
        <p>{{ this.character.constitution }}</p>
    </div>

    <div class="characteristic">
        <h3>Sagesse</h3>
        <p>{{ this.character.wisdom }}</p>
    </div>

    <div class="characteristic">
        <h3>Intelligence</h3>
        <p>{{ this.character.intelligence }}</p>
    </div>

    <div class="characteristic">
        <h3>Charisme</h3>
        <p>{{ this.character.charisma }}</p>
    </div>
</div>
