<div class="app-popup combat"
     data-popup-target="popup">
    <div class="popup-body">
        <div class="popup-content">
            {% if app_characterItemService.equippedItems(this.character).righthand %}
                {% if (not app_itemService.isMagical(app_characterItemService.equippedItems(this.character).righthand.item)) or app_itemService.isMagical(app_characterItemService.equippedItems(this.character).righthand.item) and app_characterItemService.equippedItems(this.character).righthand.charge > 0 %}
                    <button class="screen-action"
                            title="Attaquer avec la main droite"
                            {{ live_action('attack', {'type': 'righthand', 'creatureCombatId': creatureCombat.id, 'position': position}) }}>
                        <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(this.character).righthand.item.picture) }}"
                             alt="{{ app_characterItemService.equippedItems(this.character).righthand.item.name }}"/>
                    </button>
                {% endif %}
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).lefthand %}
                {% if (not app_itemService.isMagical(app_characterItemService.equippedItems(this.character).lefthand.item)) or app_itemService.isMagical(app_characterItemService.equippedItems(this.character).lefthand.item) and app_characterItemService.equippedItems(this.character).lefthand.charge > 0 %}
                    <button class="screen-action"
                            title="Attaquer avec la main gauche"
                            {{ live_action('attack', {'type': 'lefthand', 'creatureCombatId': creatureCombat.id, 'position': position}) }}>
                        <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(this.character).lefthand.item.picture) }}"
                             alt="{{ app_characterItemService.equippedItems(this.character).lefthand.item.name }}"/>
                    </button>
                {% endif %}
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).righthand and app_characterItemService.equippedItems(this.character).lefthand %}
                {% if (not app_itemService.isMagical(app_characterItemService.equippedItems(this.character).righthand.item) or (app_itemService.isMagical(app_characterItemService.equippedItems(this.character).righthand.item) and app_characterItemService.equippedItems(this.character).righthand.charge > 0)) and (not app_itemService.isMagical(app_characterItemService.equippedItems(this.character).lefthand.item) or (app_itemService.isMagical(app_characterItemService.equippedItems(this.character).lefthand.item) and app_characterItemService.equippedItems(this.character).lefthand.charge <= 0)) %}
                    <button class="screen-action"
                            title="Attaquer avec les deux mains"
                            {{ live_action('attack', {'type': 'twohands', 'creatureCombatId': creatureCombat.id, 'position': position}) }}>
                        <img src="{{ asset('img/core/action/attack.png') }}" class="equip" alt="Deux main"/>
                    </button>
                {% endif %}
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).bow %}
                <button class="screen-action" title="Attaquer avec l'arc"
                        {{ live_action('attack', {'type': 'bow', 'creatureCombatId': creatureCombat.id, 'position': position}) }}>
                    <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(this.character).bow.item.picture) }}"
                         alt="{{ app_characterItemService.equippedItems(this.character).bow.item.name }}"/>
                </button>
            {% endif %}

            {% if this.character.characterSpells | length > 0 %}
                <div class="spell-action" data-controller="popup">
                    <button class="screen-action" title="Lancer un sortilège" data-action="click->popup#open">
                        <img src="{{ asset('img/core/action/cast.png') }}" alt="Sortilège"/>
                    </button>
                    {% include 'game/_layout/_game/_combat/_spellsbook.html.twig' with {'creatureCombat': creatureCombat, 'position': loop.index} %}
                </div>
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).scroll %}
                <button class="screen-action" title="Utiliser un parchemin"
                        {{ live_action('use', {'type': 'scroll', 'enemyId': creatureCombat.id, 'position': position}) }}>
                    <img src="{{ asset('img/core/item/scroll/' ~ app_characterItemService.equippedItems(this.character).scroll.item.picture) }}"
                         alt="{{ app_characterItemService.equippedItems(this.character).scroll.item.name }}"/>
                </button>
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).potion %}
                <button class="screen-action" title="Boire une potion"
                        {{ live_action('use', {'type': 'potion'}) }}>
                    <img src="{{ asset('img/core/item/potion/' ~ app_characterItemService.equippedItems(this.character).potion.item.picture) }}"
                         alt="{{ app_characterItemService.equippedItems(this.character).potion.item.name }}"/>
                </button>
            {% endif %}
        </div>
    </div>
</div>
