{{ form_start(form, {'attr': {'class': 'app-form'}}) }}
<fieldset class="form-fieldset">
    <legend class="form-legend">Nouveau Personnage</legend>

    <div class="app-grid two mb-1">
        <div class="form-group">
            {{ form_label(form.race) }}
            {{ form_widget(form.race) }}
            {{ form_help(form.race) }}
            {{ form_errors(form.race) }}
        </div>

        <div class="form-group">
            {{ form_label(form.profession) }}
            {{ form_widget(form.profession) }}
            {{ form_help(form.profession) }}
            {{ form_errors(form.profession) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.picture) }}
        {{ form_widget(form.picture) }}
        {{ form_help(form.picture) }}
        {{ form_errors(form.picture) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_help(form.description) }}
        {{ form_errors(form.description) }}
    </div>
</fieldset>

{{ form_widget(form._token) }}
<button class="app-button cta" type="submit">Créer</button>
{{ form_end(form) }}
