{% extends '_layout/default/_index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body_class %}home{% endblock %}

{% block main %}
    {% if app.user %}
        <a href="{{ path('app_profile') }}" class="app-button outline">
            <small>{{ app.user.name }}</small>
            Profil
        </a>
        {% if app.user.player %}
            <a href="{{ path('app_character_sheet', {'slug': app.user.player.slug, 'previousUrl': app.request.pathInfo}) }}"
               class="app-button">
                <small>{{ app.user.player.name }}</small>
                Personnage
            </a>
            {% if app.user.player.currentPlace %}
                <a href="{{ path('app_game_home') }}" class="app-button cta">
                    <small>{{ app.user.player.currentPlace.name }}</small>
                    Reprendre
                </a>
            {% else %}
                <a href="{{ path('app_game_home') }}" class="app-button cta">
                    <small>Nouvelle</small>
                    Partie
                </a>
            {% endif %}
        {% else %}
            <a href="{{ path('app_character_pregenerated') }}" class="app-button cta">
                <small>Nouveau</small>
                Personnage
            </a>
        {% endif %}
    {% else %}
        <a href="{{ path('app_register') }}" class="app-button cta">
            <small>Nouveau Joueur</small>
            Inscription
        </a>
        <a href="{{ path('app_login') }}" class="app-button">
            <small>Déjà inscrit</small>
            Connexion
        </a>
    {% endif %}
{% endblock %}
