<div {{ attributes }}>
    <div class="app-sheet" data-controller="content-switcher" data-loading="addClass(loading)">
        <div class="sheet-header">
            {% if this.type == 'pregenerated' %}
                <img src="{{ asset('img/core/character/pregenerated/' ~ this.character.picture) }}"
                     class="picture"
                     alt="{{ this.character.name }}"/>
            {% else %}
                <img src="{{ asset('uploads/character/' ~ this.character.picture) }}"
                     class="picture"
                     alt="{{ this.character.name }}"/>
            {% endif %}
            <h1>{{ this.character.name }}</h1>
        </div>

        <div class="sheet-main">
            {% include 'character/sheet/_details.html.twig' %}
            {% include 'character/sheet/_inventory.html.twig' %}
            {% include 'character/sheet/_equipment.html.twig' %}
            {% if character.profession.type == 'Magie' %}
                {% include 'character/sheet/_spells.html.twig' %}
            {% endif %}
            {% if this.type == 'player' %}
                {% include 'character/sheet/_quests.html.twig' %}
            {% endif %}
        </div>

        {% include 'character/sheet/_footer.html.twig' %}
    </div>
</div>
