<div class="content equipment" data-content-switcher-target="content">
    <h2>Équipement</h2>

    <div class="equipped">
        <img src="{{ asset('img/core/equipment/equipment.png') }}" alt="Équipement"/>

        <div class="equipped-item armor" data-controller="tooltip">
            <img src="{{ asset('img/core/equipment/armor.png') }}" class="placeholder" alt="Armure"/>
            {% if app_characterItemService.equippedItems(character).armor %}
                <a href="#" data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/armor/' ~ app_characterItemService.equippedItems(character).armor.item.picture) }}"
                         class="equip"
                         alt="{{ app_characterItemService.equippedItems(character).armor.item.name }}"/>
                    <div class="gauge">
                        <div class="gauge-fill"
                             style="--value:{{ app_itemService.itemDurabilityFactor(app_characterItemService.equippedItems(character).armor) }}"></div>
                    </div>
                </a>
                {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).armor} %}
            {% endif %}
        </div>

        <div class="equipped-item righthand" data-controller="tooltip">
            <img src="{{ asset('img/core/equipment/sword.png') }}" class="placeholder" alt="Main droite"/>
            {% if app_characterItemService.equippedItems(character).righthand %}
                <a href="#" data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(character).righthand.item.picture) }}"
                         class="equip"
                         alt="{{ app_characterItemService.equippedItems(character).righthand.item.name }}"/>
                    <div class="gauge">
                        <div class="gauge-fill"
                             style="--value: {{ app_itemService.itemDurabilityFactor(app_characterItemService.equippedItems(character).righthand) }}"></div>
                    </div>
                </a>
                {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).righthand} %}
            {% endif %}
        </div>

        <div class="equipped-item bow" data-controller="tooltip">
            <img src="{{ asset('img/core/equipment/bow.png') }}" class="placeholder" alt="Arc"/>
            {% if app_characterItemService.equippedItems(character).bow %}
                <a href="#" data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(character).bow.item.picture) }}"
                         class="equip"
                         alt="{{ app_characterItemService.equippedItems(character).bow.item.name }}"/>
                    <div class="gauge">
                        <div class="gauge-fill"
                             style="--value: {{ app_itemService.itemDurabilityFactor(app_characterItemService.equippedItems(character).bow) }}"></div>
                    </div>
                </a>
                {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).bow} %}
            {% endif %}
        </div>

        <div class="equipped-assets">
            <div class="equipped-asset ring" data-controller="tooltip">
                <img src="{{ asset('img/core/equipment/ring.png') }}" class="placeholder" alt="Anneau"/>
                {% if app_characterItemService.equippedItems(character).ring %}
                    <a href="#" data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/ring/' ~ app_characterItemService.equippedItems(character).ring.item.picture) }}"
                             class="equip"
                             alt="{{ app_characterItemService.equippedItems(character).ring.item.name }}"/>
                    </a>
                    {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).ring} %}
                {% endif %}
            </div>
            <div class="equipped-asset scroll" data-controller="tooltip">
                <img src="{{ asset('img/core/equipment/scroll.png') }}" class="placeholder" alt="Parchemin"/>
                {% if app_characterItemService.equippedItems(character).scroll %}
                    <a href="#" data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/scroll/' ~ app_characterItemService.equippedItems(character).scroll.item.picture) }}"
                             class="equip"
                             alt="{{ app_characterItemService.equippedItems(character).scroll.item.name }}"/>
                    </a>
                    {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).scroll} %}
                {% endif %}
            </div>
            <div class="equipped-asset potion" data-controller="tooltip">
                <img src="{{ asset('img/core/equipment/potion.png') }}" class="placeholder" alt="Potion"/>
                {% if app_characterItemService.equippedItems(character).potion %}
                    <a href="#" data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/potion/' ~ app_characterItemService.equippedItems(character).potion.item.picture) }}"
                             class="equip"
                             alt="{{ app_characterItemService.equippedItems(character).potion.item.name }}"/>
                    </a>
                    {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).potion} %}
                {% endif %}
            </div>
        </div>

        <div class="equipped-item amulet" data-controller="tooltip">
            <img src="{{ asset('img/core/equipment/amulet.png') }}" class="placeholder" alt="Amulette"/>
            {% if app_characterItemService.equippedItems(character).amulet %}
                <a href="#" data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/amulet/' ~ app_characterItemService.equippedItems(character).amulet.item.picture) }}"
                         class="equip"
                         alt="{{ app_characterItemService.equippedItems(character).amulet.item.name }}"/>
                </a>
                {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).amulet} %}
            {% endif %}
        </div>

        <div class="equipped-item lefthand" data-controller="tooltip">
            <img src="{{ asset('img/core/equipment/sword.png') }}" class="placeholder" alt="Main gauche"/>
            {% if app_characterItemService.equippedItems(character).lefthand %}
                <a href="#" data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(character).lefthand.item.picture) }}"
                         class="equip"
                         alt="{{ app_characterItemService.equippedItems(character).lefthand.item.name }}"/>
                    <div class="gauge">
                        <div class="gauge-fill"
                             style="--value: {{ app_itemService.itemDurabilityFactor(app_characterItemService.equippedItems(character).lefthand) }}"></div>
                    </div>
                </a>
                {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).lefthand} %}
            {% endif %}
        </div>

        <div class="equipped-item shield" data-controller="tooltip">
            <img src="{{ asset('img/core/equipment/shield.png') }}" class="placeholder" alt="Bouclier"/>
            {% if app_characterItemService.equippedItems(character).shield %}
                <a href="#" data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/shield/' ~ app_characterItemService.equippedItems(character).shield.item.picture) }}"
                         class="equip"
                         alt="{{ app_characterItemService.equippedItems(character).shield.item.name }}"/>
                    <div class="gauge">
                        <div class="gauge-fill"
                             style="--value: {{ app_itemService.itemDurabilityFactor(app_characterItemService.equippedItems(character).shield) }}"></div>
                    </div>
                </a>
                {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': app_characterItemService.equippedItems(character).shield} %}
            {% endif %}
        </div>
    </div>
</div>
