<div class="content inventory" data-content-switcher-target="content">
    <h2>Inventaire</h2>

    <div class="list scrollable">
        <div class="app-grid three mb-1">
            {% for characterItem in app_characterItemService.characterItems(character) %}
                <div class="app-card inventory">
                    <div class="card-header" data-controller="tooltip">
                        <a href="#" data-action="click->tooltip#open">
                            {% if characterItem.item.type == 'map' %}
                                <img src="{{ asset('img/core/item/misc/map.png') }}"
                                     alt="{{ characterItem.item.name }}"/>
                            {% elseif characterItem.item.type == 'gift' %}
                                <img src="{{ asset('img/core/item/misc/' ~ characterItem.item.picture) }}"
                                     alt="{{ characterItem.item.name }}"/>
                            {% else %}
                                <img src="{{ asset('img/core/item/' ~ characterItem.item.category.name ~ '/' ~ characterItem.item.picture) }}"
                                     alt="{{ characterItem.item.name }}"/>
                            {% endif %}
                        </a>
                        {% include 'character/sheet/_tooltip.html.twig' with {'type': 'item', 'content': characterItem} %}
                        {% if characterItem.health or characterItem.charge %}
                            <div class="gauge">
                                <div class="gauge-fill"
                                     style="--value: {{ app_itemService.itemDurabilityFactor(characterItem) }}"></div>
                            </div>
                        {% endif %}
                        <div class="infos">
                            <div class="bonus">
                                {% if characterItem.item.defense is defined %}
                                    <span>
                                        {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                                        {{ characterItem.item.defense }}
                                    </span>
                                {% endif %}
                                {% if characterItem.item.target is defined and characterItem.item.target is not null %}
                                    {% if characterItem.item.target == 'health' %}
                                        {% if characterItem.item.type == 'Offensif' %}
                                            <span>
                                                {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                                                {{ characterItem.item.amount }}
                                            </span>
                                        {% else %}
                                            <span>
                                                {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                                {{ characterItem.item.amount }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                    {% if characterItem.item.target == 'mana' %}
                                        <span>
                                            {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                                            {{ characterItem.item.amount }}
                                        </span>
                                    {% endif %}
                                    {% if characterItem.item.target == 'location' %}
                                        <span>
                                            {{ ux_icon('gis:world-map', {'class': 'app-icon text-primary'}) }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                                {% if characterItem.item.type == 'Utile' %}
                                    <span>
                                        {{ ux_icon('entypo:tools', {'class': 'app-icon text-primary'}) }}
                                    </span>
                                {% endif %}
                                {% if characterItem.item.type == 'map' %}
                                    <span>
                                        {{ ux_icon('gis:world-map', {'class': 'app-icon text-primary'}) }}
                                    </span>
                                {% endif %}
                                {% if characterItem.item.type == 'gift' %}
                                    <span>
                                        {{ ux_icon('el:gift', {'class': 'app-icon text-primary'}) }}
                                    </span>
                                {% endif %}
                                {% if characterItem.item.damage is defined %}
                                    <span>
                                        {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                                        {{ characterItem.item.damage }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{ characterItem.item.name }}</h5>
                    </div>

                    {% if type == 'player' %}
                        <div class="card-footer">
                            {% if characterItem.item.type != 'map' and characterItem.item.type != 'gift' and characterItem.item.type != 'food' %}
                                {% if characterItem.equipped %}
                                    <button class="bg-warning" {{ live_action('equipItem', {'characterItemId': characterItem.id }) }}>
                                        {{ ux_icon('mdi:arrow-down-drop-circle-outline', {'class': 'app-icon'}) }}
                                    </button>
                                {% else %}
                                    <button class="bg-success" {{ live_action('equipItem', {'characterItemId': characterItem.id }) }}>
                                        {{ ux_icon('mdi:arrow-up-drop-circle-outline', {'class': 'app-icon'}) }}
                                    </button>
                                {% endif %}
                            {% elseif characterItem.item.type == 'map' or characterItem.item.type == 'gift' %}
                                <button class="bg-black disabled">
                                    <a>&nbsp;</a>
                                </button>
                            {% endif %}
                            {% if characterItem.item.type == 'food' or characterItem.item.category.name == 'potion' %}
                                <button class="bg-info" {{ live_action('useItem', {'characterItemId': characterItem.id }) }}>
                                    {{ ux_icon('entypo:hand', {'class': 'app-icon'}) }}
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
