<div class="content spells" data-content-switcher-target="content">
    <h2>Sortilèges</h2>

    <div class="list scrollable">
        <div class="app-grid three mb-1">
            {% for characterSpell in app_characterSpellService.characterSpells(character) %}
                <div class="app-card inventory">
                    <div class="card-header" data-controller="tooltip">
                        <a href="#" data-action="click->tooltip#open">
                            <img src="{{ asset('img/core/spell/' ~ characterSpell.spell.picture) }}"
                                 alt="{{ characterSpell.spell.name }}"/>
                        </a>
                        {% include 'character/sheet/_tooltip.html.twig' with {'type': 'spell', 'content': characterSpell} %}
                        <div class="infos">
                            <div class="bonus">
                                <div class="attribute">
                                    {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                                    {{ characterSpell.spell.manaCost }}
                                </div>
                                <div class="attribute">
                                    {{ ux_icon('icon-park-outline:level', {'class': 'app-icon text-primary'}) }}
                                    {{ characterSpell.level }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ characterSpell.spell.name }}</h5>
                    </div>
                    <div class="card-footer">
                        {% if characterSpell.spell.target %}
                            {% if characterSpell.spell.target == 'health' %}
                                <div class="attribute">
                                    {% if characterSpell.spell.category.name == 'Offensif' or characterSpell.spell.category.name == 'Invocation' %}
                                        {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                                    {% else %}
                                        {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                    {% endif %}
                                    {{ characterSpell.spell.amount + characterSpell.amountBonus }}
                                </div>
                            {% elseif characterSpell.spell.target == 'defense' %}
                                <div class="attribute">
                                    {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                                    {{ characterSpell.spell.amount + characterSpell.amountBonus }}
                                </div>
                            {% elseif characterSpell.spell.target == 'visibility' %}
                                <div class="attribute">
                                    {{ ux_icon('ic:sharp-visibility-off', {'class': 'app-icon text-primary'}) }}
                                </div>
                            {% elseif characterSpell.spell.target == 'movement' %}
                                <div class="attribute">
                                    {{ ux_icon('simple-icons:adblock', {'class': 'app-icon text-primary'}) }}
                                </div>
                            {% else %}
                                <div class="attribute">
                                    {{ ux_icon('entypo:tools', {'class': 'app-icon text-primary'}) }}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if characterSpell.spell.duration %}
                            <div class="attribute">
                                {{ ux_icon('lsicon:time-two-filled', {'class': 'app-icon'}) }}
                                {{ characterSpell.spell.duration + characterSpell.durationBonus }}
                            </div>
                        {% endif %}
                        {% if characterSpell.spell.area %}
                            <div class="attribute">
                                {{ ux_icon('ph:map-pin-area-fill', {'class': 'app-icon'}) }}
                                {{ characterSpell.spell.area + characterSpell.areaBonus }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
