<div class="app-tooltip {{ info is defined ? 'info' : '' }}"
     data-tooltip-target="tooltip"
     data-action="click->tooltip#close">
    <div class="tooltip-background" data-tooltip-target="background"></div>
    <div class="tooltip-body">
        <div class="tooltip-content scrollable">
            {% if type == 'item' %}
                <h3 class="tooltip-title">
                    {% if content.item.type == 'map' %}
                        Carte de
                    {% endif %}
                    {{ content.item.name }}
                </h3>

                {% if content.charge is defined and content.charge is not null %}
                    <h4 class="tooltip-subtitle left">
                        <span>Charges : {{ content.charge }}</span>
                    </h4>
                {% endif %}

                <h4 class="tooltip-subtitle">
                    {% if content.item.defense is defined %}
                        {% if app_characterItemService.calculateEffectiveDefense(content) == 0 %}
                            <span class="text-third">
                                {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-third'}) }}
                                {{ app_characterItemService.calculateEffectiveDefense(content) }}
                            </span>
                        {% else %}
                            <span>
                                {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                                {{ app_characterItemService.calculateEffectiveDefense(content) }}
                            </span>
                        {% endif %}
                    {% endif %}
                    {% if content.item.target is defined and content.item.target is not null %}
                        {% if content.item.target == 'health' %}
                            {% if content.item.type == 'Offensif' %}
                                <span>
                                    {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                                    {{ content.item.amount }}
                                </span>
                            {% elseif content.item.type == 'Défensif' or content.item.type == 'food' %}
                                <span>
                                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                    {{ content.item.amount }}
                                </span>
                            {% endif %}
                        {% endif %}
                        {% if content.item.target == 'mana' %}
                            <span>
                                {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                                {{ content.item.amount }}
                            </span>
                        {% endif %}
                    {% endif %}
                    {% if content.item.type == 'Utile' %}
                        <span>
                            {{ ux_icon('entypo:tools', {'class': 'app-icon text-primary'}) }}
                        </span>
                    {% endif %}
                    {% if content.item.type == 'map' %}
                        <span>
                            {{ ux_icon('gis:world-map', {'class': 'app-icon text-primary'}) }}
                        </span>
                    {% endif %}
                    {% if content.item.type == 'gift' %}
                        <span>
                            {{ ux_icon('el:gift', {'class': 'app-icon text-primary'}) }}
                        </span>
                    {% endif %}
                    {% if content.item.damage is defined %}
                        {% if app_characterItemService.calculateEffectiveDamage(content) == 0 %}
                            <span class="text-third">
                                {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-third'}) }}
                                {{ app_characterItemService.calculateEffectiveDamage(content) }}
                            </span>
                        {% else %}
                            <span>
                                {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                                {{ app_characterItemService.calculateEffectiveDamage(content) }}
                            </span>
                        {% endif %}
                    {% endif %}
                </h4>

                <figure class="item-picture">
                    {% if content.item.type == 'map' %}
                        <img src="{{ asset('img/core/item/misc/map.png') }}"
                             alt="{{ content.item.name }}"/>
                    {% elseif content.item.type == 'gift' %}
                        <img src="{{ asset('img/core/item/misc/' ~ content.item.picture) }}"
                             alt="{{ content.item.name }}"/>
                    {% else %}
                        <img src="{{ asset('img/core/item/' ~ content.item.category.name ~ '/' ~ content.item.picture) }}"
                             alt="{{ content.item.name }}"/>
                    {% endif %}
                </figure>

                {{ content.item.description | raw }}
            {% elseif type == 'spell' %}
                <h3 class="tooltip-title">{{ content.spell.name }}</h3>

                <h4 class="tooltip-subtitle left">
                    <span>
                        {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                        {{ content.spell.manaCost }}
                    </span>
                    <span>
                        {{ ux_icon('icon-park-outline:level', {'class': 'app-icon text-primary'}) }}
                        {{ content.level }}
                    </span>
                </h4>

                <h4 class="tooltip-subtitle right">
                    {% if content.spell.target %}
                        {% if content.spell.target == 'health' %}
                            <span>
                                {% if content.spell.category.name == 'Offensif' or content.spell.category.name == 'Invocation' %}
                                    {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                                {% else %}
                                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                {% endif %}
                                {{ content.spell.amount + content.amountBonus }}
                            </span>
                        {% elseif characterSpell.spell.target == 'defense' %}
                            <span>
                                {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                                {{ content.spell.amount + content.amountBonus }}
                            </span>
                        {% elseif characterSpell.spell.target == 'visibility' %}
                            <span>
                                {{ ux_icon('ic:sharp-visibility-off', {'class': 'app-icon text-primary'}) }}
                            </span>
                        {% elseif characterSpell.spell.target == 'movement' %}
                            <span>
                                {{ ux_icon('simple-icons:adblock', {'class': 'app-icon text-primary'}) }}
                            </span>
                        {% else %}
                            <span>
                                {{ ux_icon('entypo:tools', {'class': 'app-icon text-primary'}) }}
                            </span>
                        {% endif %}
                    {% endif %}
                    {% if content.spell.duration %}
                        <span>
                            {{ ux_icon('lsicon:time-two-filled', {'class': 'app-icon'}) }}
                            {{ content.spell.duration + content.durationBonus }}
                        </span>
                    {% endif %}
                    {% if content.spell.area %}
                        <span>
                            {{ ux_icon('ph:map-pin-area-fill', {'class': 'app-icon'}) }}
                            {{ content.spell.area + content.areaBonus }}
                        </span>
                    {% endif %}
                </h4>

                <figure class="item-picture">
                    <img src="{{ asset('img/core/spell/' ~ characterSpell.spell.picture) }}"
                         alt="{{ characterSpell.spell.name }}"/>
                </figure>

                {{ content.spell.description | raw }}
            {% endif %}
        </div>
    </div>
</div>

