<div class="screen-footeractions">
    {% set dialogue = app_dialogueService.currentDialogue(this.playerNpc) %}
    {% if dialogue %}
        <button class="screen-action" title="Discuter avec {{ this.playerNpc.npc.name }}" {{ live_action('dialogueScreen', {'id': this.playerNpc.id}) }}>
            <img src="{{ asset('img/core/action/history.png') }}" alt="Discuter avec {{ this.playerNpc.npc.name }}"/>
        </button>
    {% endif %}

    {% set rumor = app_dialogueService.currentDialogue(this.playerNpc, 'rumor') %}
    {% if rumor %}
        <button class="screen-action" title="Les ragots de {{ this.playerNpc.npc.name }}" {{ live_action('dialogueScreen', {'id': this.playerNpc.id, 'type': 'rumor'}) }}>
            <img src="{{ asset('img/core/action/rumors.png') }}" alt="Les ragots de {{ this.playerNpc.npc.name }}"/>
        </button>
    {% endif %}

    {% if this.playerNpc.npc.profession.slug in ['marchand', 'forgeron', 'arcaniste', 'tavernier', 'pecheur'] %}
        <button class="screen-action" title="Commercer" {{ live_action('tradeScreen', {'id' : this.playerNpc.npc.id}) }}>
            <img src="{{ asset('img/core/action/trade.png') }}" alt="Commercer avec {{ this.playerNpc.npc.name }}"/>
        </button>
    {% endif %}

    {% if this.playerNpc.npc.profession.slug == 'forgeron' %}
        <button class="screen-action" title="Réparer vos objets" {{ live_action('tradeScreen', {'id' : this.playerNpc.npc.id, 'type': 'repair'}) }}>
            <img src="{{ asset('img/core/action/repair.png') }}" alt="Réparer"/>
        </button>
    {% endif %}

    {% if this.playerNpc.npc.profession.slug == 'arcaniste' %}
        <button class="screen-action" title="Recharger vos objets magiques" {{ live_action('tradeScreen', {'id' : this.playerNpc.npc.id, 'type': 'reload'}) }}>
            <img src="{{ asset('img/core/action/reload.png') }}" alt="Recharger"/>
        </button>
    {% endif %}

    {% if this.character.profession.slug in ['voleur'] and this.playerNpc.npc.profession.slug not in ['garde', 'pretre'] and this.playerNpc.fortune > 0 %}
        {% if this.character.fortune > 0 or this.character.experience > 0 %}
            <button class="screen-action" title="Voler" {{ live_action('steal', {'id': this.playerNpc.npc.id}) }}>
                <img src="{{ asset('img/core/action/steal.png') }}" alt="Voler {{ this.playerNpc.npc.name }}"/>
            </button>
        {% endif %}
    {% endif %}

    {% if this.playerNpc.npc.profession.slug == 'pretre' %}
        <button class="screen-action" title="Bénédiction" {{ live_action('blessing', {'id': this.playerNpc.id}) }}>
            <img src="{{ asset('img/core/action/blessing.png') }}" alt="Prier avec {{ this.playerNpc.npc.name }}"/>
        </button>
    {% endif %}

    <button class="screen-action" title="Partir" {{ live_action('exitScreen') }}>
        {% if this.playerNpc.npc.location.type == 'building' %}
            <img src="{{ asset('img/core/location/' ~ this.playerNpc.npc.location.thumb) }}" alt="{{ this.playerNpc.npc.location.name }}"/>
        {% else %}
            <img src="{{ asset('img/core/action/exit.png') }}" alt="Partir"/>
        {% endif %}
    </button>
</div>
