<div class="header-title">
    <div class="header-actions">
        <a href="{{ path('app_character_sheet_player', {'back': app.request.pathInfo}) }}"
           class="header-control">
            {{ ux_icon('mynaui:user-solid', {'class': 'app-icon'}) }}
        </a>

        <a href="{{ path('app_map_home', {'back': app.request.pathInfo}) }}"
           class="header-control">
            {{ ux_icon('solar:map-bold', {'class': 'app-icon'}) }}
        </a>
    </div>

    <h1>
        <small>{{ this.screen.location.parent.name }}</small>
        {{ this.screen.name }}
    </h1>

    <div class="header-actions">
        <a href="{{ path('app_home') }}"
           class="header-control bg-danger"
           onclick="return window.confirm('Quitter la partie en cours ?')">
            {{ ux_icon('mdi:exit-to-app', {'class': 'app-icon'}) }}
        </a>
    </div>
</div>
