<div class="app-card character">
    <a href="{{ path('app_character_sheet', {'slug': character.slug, previousUrl: app.request.pathInfo}) }}">
        <div class="card-header">
            <img src="{{ asset('img/core/character/pregenerated/' ~ character.picture) }}" alt="{{ character.name }}"/>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ character.name }}</h3>
            <h4 class="card-subtitle">{{ character.profession.name }} {{ character.race.name }}</h4>
        </div>
    </a>
    <div class="card-footer">
        <a href="{{ path('app_character_sheet', {'slug': character.slug, previousUrl: app.request.pathInfo}) }}"
           class="bg-fourth">
            {{ ux_icon('carbon:view-filled', {'class': 'app-icon'}) }}
        </a>
        <a href="#" class="bg-primary" onclick="return window.confirm('Jouer avec {{ character.name }} ?')">
            {{ ux_icon('game-icons:play-button', {'class': 'app-icon'}) }}
        </a>
    </div>
</div>
