<div class="header-title">
    <div class="header-actions">
        {% if this.screen.type == 'location' %}
            {% set backUrl = path('app_game_screen_' ~ this.screen.type, {slug: this.screen.location.slug}) %}
        {% elseif this.screen.type == 'interaction' %}
            {% set backUrl = path('app_game_screen_' ~ this.screen.type, {slug: this.screen.character.slug}) %}
        {% elseif this.screen.type == 'dialog' %}
            {% set backUrl = path('app_game_screen_' ~ this.screen.type, {id: this.screen.dialogStep.id}) %}
        {% elseif this.screen.type == 'trade' %}
            {% set backUrl = path('app_game_screen_' ~ this.screen.type, {slug: this.screen.character.slug}) %}
        {% elseif this.screen.type == 'repair' %}
            {% set backUrl = path('app_game_screen_' ~ this.screen.type, {slug: this.screen.character.slug}) %}
        {% endif %}

        {% if this.screen.type != 'combat' %}
            <a href="{{ path('app_character_sheet_player', {'back': backUrl}) }}"
               class="header-control">
                {{ ux_icon('mynaui:user-solid', {'class': 'app-icon'}) }}
            </a>
        {% endif %}

        {% if this.screen.type == 'location' and this.character.currentLocation.type in ['location', 'zone'] %}
            <a href="{{ path('app_map_home', {'back': backUrl}) }}"
               class="header-control">
                {{ ux_icon('solar:map-bold', {'class': 'app-icon'}) }}
            </a>
        {% endif %}
    </div>

    <h1>
        {% if this.screen.type == 'location' and this.screen.location.parent %}
            <small>{{ this.screen.location.parent.name }}</small>
        {% elseif this.screen.type == 'dialog' %}
            {% if this.screen.dialogStep.dialog.type == 'dialog' %}
                <small>Discuter</small>
            {% else %}
                <small>Ragots</small>
            {% endif %}
        {% elseif this.screen.type == 'trade' %}
            <small>Commercer</small>
        {% elseif this.screen.type == 'repair' %}
            <small>Réparer</small>
        {% elseif this.screen.type == 'reload' %}
            <small>Recharger</small>
        {% elseif this.screen.type == 'combat' %}
            <small>Combat</small>
        {% endif %}
        {{ this.screen.name }}
    </h1>

    <div class="header-actions">
        <a href="{{ path('app_home') }}"
           class="header-control bg-danger"
           onclick="return window.confirm('Quitter la partie en cours ?')">
            {{ ux_icon('mdi:exit-to-app', {'class': 'app-icon'}) }}
        </a>
    </div>
</div>
