<div class="screen-headerinfos">
    <div class="left">
        {% set bonus = app_characterBonusService.characterBonus(this.character, 'health') %}
        <div class="screen-info {% if bonus['extra'] %}text-success{% endif %}">
            {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
            {{ this.character.health + bonus['amount'] }}
        </div>

        {% if this.character.profession.type == 'magic' %}
            {% set bonus = app_characterBonusService.characterBonus(this.character, 'mana') %}
            <div class="screen-info {% if bonus['extra'] %}text-success{% endif %}">
                {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                {{ this.character.mana + bonus['amount'] }}
            </div>
        {% endif %}

        {% set bonus = app_characterBonusService.characterBonus(this.character, 'defense') %}
        {% set defenseBonus = 0 %}
        {% for effect in this.temporaryEffects %}
            {% if effect.effect == 'defense' %}
                {% set defenseBonus = defenseBonus + effect.amount %}
            {% endif %}
        {% endfor %}
        <div class="screen-info {% if bonus['extra'] %}text-success{% endif %}">
            {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
            +{{ bonus['amount'] + defenseBonus }}
        </div>

        {% set bonus = app_characterBonusService.characterBonus(this.character, 'damage') %}
        {% set magicalBonus = app_characterBonusService.characterBonus(this.character, 'magicalDamage') %}
        {% set damageBonus = 0 %}
        {% for effect in this.temporaryEffects %}
            {% if effect.effect == 'damage' %}
                {% set damageBonus = damageBonus + effect.amount %}
            {% endif %}
        {% endfor %}
        <div class="screen-info {% if bonus['extra'] or magicalBonus['extra'] %}text-success{% endif %}">
            {% set weapons = app_characterItemService.equippedWeapons(this.character) %}
            {% set magicalWeapons = app_characterItemService.equippedWeapons(this.character, true) %}
            {% if weapons is not empty %}
                {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
            {% elseif magicalWeapons is not empty %}
                {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
            {% else %}
                {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
            {% endif %}
            +{{ bonus['amount'] + magicalBonus['amount'] + damageBonus }}
        </div>
    </div>

    <div class="right">
        <div class="app-grid two">
            &nbsp;
            {% if app_characterItemService.equippedItems(this.character).armor %}
                <div class="screen-info" data-controller="tooltip">
                    <a data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/armor/' ~ app_characterItemService.equippedItems(this.character).armor.item.picture) }}"
                             class="{% if app_characterItemService.equippedItems(this.character).armor.health <= 0 %}broken{% endif %}"
                             alt="{{ app_characterItemService.equippedItems(this.character).armor.item.name }}"/>
                        <div class="gauge">
                            <div class="gauge-fill success"
                                 style="--value: {{ app_characterItemService.equippedItems(this.character).armor.health / app_characterItemService.equippedItems(this.character).armor.item.health }}"></div>
                        </div>
                    </a>
                    {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).armor} %}
                </div>
            {% endif %}
        </div>

        {% if app_characterItemService.equippedItems(this.character).amulet or app_characterItemService.equippedItems(this.character).ring %}
            <div class="app-grid two">
                {% if app_characterItemService.equippedItems(this.character).amulet %}
                    <div class="screen-info" data-controller="tooltip">
                        <a data-action="click->tooltip#open">
                            <img src="{{ asset('img/core/item/amulet/' ~ app_characterItemService.equippedItems(this.character).amulet.item.picture) }}"
                                 alt="{{ app_characterItemService.equippedItems(this.character).amulet.item.name }}"/>
                        </a>
                        {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).amulet} %}
                    </div>
                {% else %}
                    &nbsp;
                {% endif %}

                {% if app_characterItemService.equippedItems(this.character).ring %}
                    <div class="screen-info" data-controller="tooltip">
                        <a data-action="click->tooltip#open">
                            <img src="{{ asset('img/core/item/ring/' ~ app_characterItemService.equippedItems(this.character).ring.item.picture) }}"
                                 alt="{{ app_characterItemService.equippedItems(this.character).ring.item.name }}"/>
                        </a>
                        {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).ring} %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="app-grid two">
            {% if app_characterItemService.equippedItems(this.character).righthand %}
                <div class="screen-info" data-controller="tooltip">
                    <a data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(this.character).righthand.item.picture) }}"
                             class="{% if app_characterItemService.equippedItems(this.character).righthand.health <= 0 %}broken{% endif %}"
                             alt="{{ app_characterItemService.equippedItems(this.character).righthand.item.name }}"/>
                        {% if app_characterItemService.equippedItems(this.character).righthand.charge is not null %}
                            <div class="gauge">
                                <div class="gauge-fill info"
                                     style="--value: {{ app_itemService.health(app_characterItemService.equippedItems(this.character).righthand) }}"></div>
                            </div>
                        {% elseif app_characterItemService.equippedItems(this.character).righthand.health is not null %}
                            <div class="gauge">
                                <div class="gauge-fill success"
                                     style="--value: {{ app_itemService.health(app_characterItemService.equippedItems(this.character).righthand) }}"></div>
                            </div>
                        {% endif %}
                    </a>
                    {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).righthand} %}
                </div>
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).lefthand %}
                <div class="screen-info" data-controller="tooltip">
                    <a data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(this.character).lefthand.item.picture) }}"
                             class="{% if app_characterItemService.equippedItems(this.character).lefthand.health <= 0 %}broken{% endif %}"
                             alt="{{ app_characterItemService.equippedItems(this.character).lefthand.item.name }}"/>
                        {% if app_characterItemService.equippedItems(this.character).lefthand.charge is not null %}
                            <div class="gauge">
                                <div class="gauge-fill info"
                                     style="--value: {{ app_itemService.health(app_characterItemService.equippedItems(this.character).lefthand) }}"></div>
                            </div>
                        {% elseif app_characterItemService.equippedItems(this.character).lefthand.health is not null %}
                            <div class="gauge">
                                <div class="gauge-fill success"
                                     style="--value: {{ app_itemService.health(app_characterItemService.equippedItems(this.character).lefthand) }}"></div>
                            </div>
                        {% endif %}
                    </a>
                    {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).lefthand} %}
                </div>
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).shield %}
                <div class="screen-info" data-controller="tooltip">
                    <a data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/shield/' ~ app_characterItemService.equippedItems(this.character).shield.item.picture) }}"
                             class="{% if app_characterItemService.equippedItems(this.character).shield.health <= 0 %}broken{% endif %}"
                             alt="{{ app_characterItemService.equippedItems(this.character).shield.item.name }}"/>
                        <div class="gauge">
                            <div class="gauge-fill success"
                                 style="--value: {{ app_characterItemService.equippedItems(this.character).shield.health / app_characterItemService.equippedItems(this.character).shield.item.health }}"></div>
                        </div>
                    </a>
                    {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).shield} %}
                </div>
            {% endif %}
        </div>

        {% if app_characterItemService.equippedItems(this.character).bow %}
            <div class="screen-info" data-controller="tooltip">
                <a data-action="click->tooltip#open">
                    <img src="{{ asset('img/core/item/weapon/' ~ app_characterItemService.equippedItems(this.character).bow.item.picture) }}"
                         class="{% if app_characterItemService.equippedItems(this.character).armor.health <= 0 %}broken{% endif %}"
                         alt="{{ app_characterItemService.equippedItems(this.character).bow.item.name }}"/>
                    {% if app_characterItemService.equippedItems(this.character).bow.charge is not null %}
                        <div class="gauge">
                            <div class="gauge-fill info"
                                 style="--value: {{ app_itemService.health(app_characterItemService.equippedItems(this.character).bow) }}"></div>
                        </div>
                    {% elseif app_characterItemService.equippedItems(this.character).bow.health is not null %}
                        <div class="gauge">
                            <div class="gauge-fill success"
                                 style="--value: {{ app_itemService.health(app_characterItemService.equippedItems(this.character).bow) }}"></div>
                        </div>
                    {% endif %}
                </a>
                {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).bow} %}
            </div>
        {% endif %}

        <div class="{% if app_characterItemService.equippedItems(this.character).scroll and app_characterItemService.equippedItems(this.character).potion %}app-grid two{% endif %}">
            {% if app_characterItemService.equippedItems(this.character).scroll %}
                <div class="screen-info" data-controller="tooltip">
                    <a data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/scroll/' ~ app_characterItemService.equippedItems(this.character).scroll.item.picture) }}"
                             alt="{{ app_characterItemService.equippedItems(this.character).scroll.item.name }}"/>
                    </a>
                    {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).scroll} %}
                </div>
            {% endif %}

            {% if app_characterItemService.equippedItems(this.character).potion %}
                <div class="screen-info" data-controller="tooltip">
                    <a data-action="click->tooltip#open">
                        <img src="{{ asset('img/core/item/potion/' ~ app_characterItemService.equippedItems(this.character).potion.item.picture) }}"
                             alt="{{ app_characterItemService.equippedItems(this.character).potion.item.name }}"/>
                    </a>
                    {% include 'game/_layout/_character/_sheet/_tooltip/_item.html.twig' with {characterItem: app_characterItemService.equippedItems(this.character).potion} %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
