<div class="screen-headerbox">
    <div class="screen-actions">
        <a href="{{ path('app_game_character_sheet_player') }}"
           class="screen-control {% if this.characterUpdated %}blink {% if app_characterLevelService.canLevelUp(this.character) %}text-third{% endif %}{% endif %}">
            {{ ux_icon('mynaui:user-solid', {'class': 'app-icon'}) }}
        </a>

        <a href="{{ path('app_game_map_home') }}"
           class="screen-control {% if this.characterLocationsUpdated %}blink{% endif %}">
            {{ ux_icon('solar:map-bold', {'class': 'app-icon'}) }}
        </a>
    </div>

    <h2 class="screen-title">
        <small>Combat</small>
        {{ this.combat.name }}
    </h2>
</div>
