<div class="app-screen cinematic" data-loading="addClass(loading)">
    <img src="{{ asset('img/chapter1/screen/' ~ this.activeScreen.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>
    <div class="app-overlay"></div>

    <header class="screen-header">
        <a href="{{ path('app_front_office_home') }}"
           class="app-button exit"
           onclick="return window.confirm('Quitter l\'aventure en cours ?')">
            {{ ux_icon('streamline:emergency-exit-solid', {'class': 'app-icon'}) }}
        </a>

        <img src="{{ asset('img/core/logo.png') }}" class="screen-logo" alt="Les Huit Royaumes - chapitre 1 : L'Éveil"/>
        <h1 class="screen-title">{{ this.activeScreen.name }}</h1>
    </header>

    <main class="screen-main">
        <p>{{ this.activeScreen.description | raw }}</p>
    </main>

    <footer class="screen-footer">
        <button class="app-button cta"
                {{ live_action('changeScreen', {'slug': 'quartier-du-marche'}) }}>Commencer</button>
    </footer>
</div>
