<div class="screen-headerbox">
    <div class="screen-actions">
        <a href="{{ path('app_game_character_sheet_player') }}"
           class="screen-control {% if this.characterUpdated %}blink {% if app_characterLevelService.canLevelUp(this.character) %}text-third{% endif %}{% endif %}">
            {{ ux_icon('mynaui:user-solid', {'class': 'app-icon'}) }}
        </a>
    </div>

    <h2 class="screen-title">
        {{ this.playerNpc.npc.name }}
    </h2>

    <a href="{{ path('app_front_office_home') }}"
       class="screen-control bg-danger"
       onclick="return window.confirm('Quitter l\'aventure en cours ?')">
        {{ ux_icon('streamline:emergency-exit-solid', {'class': 'app-icon'}) }}
    </a>
</div>
