<div class="sheet-content details {% if this.activeContent == 'details' %}active{% endif %}">
    <div class="subtitle">
        <div class="level">
            {{ ux_icon('material-symbols:diamond', {'class': 'app-icon'}) }}
            {{ this.character.level }}
        </div>

        <h3 class="sheet-subtitle">{{ this.character.profession.name }}&nbsp;{{ this.character.race.name }}</h3>

        <div class="experience {% if app_characterLevelService.canLevelUp(this.character) %}text-third{% endif %}">
            {% if app_characterLevelService.canLevelUp(this.character) %}
                <a href="{{ path('app_game_character_level_home') }}"
                   class="{% if app_characterLevelService.canLevelUp(this.character) %}text-blink{% endif %}"
                   title="{{ this.character.name }} peut passer au niveau {{ app_characterLevelService.getLevelForXP(this.character.experience) }} !">
                    {{ ux_icon('healthicons:medium-level-outline', {'class': 'app-icon'}) }}
                    {{ this.character.experience }}
                </a>
            {% else %}
                {{ ux_icon('simple-icons:opslevel', {'class': 'app-icon'}) }}
                {{ this.character.experience }}
            {% endif %}
        </div>
    </div>

    <div class="infos">
        <div class="characteristics">
            <div class="characteristic">
                <div class="name">Force</div>
                <div class="value">{{ this.character.strength }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Dextérité</div>
                <div class="value">{{ this.character.dexterity }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Constitution</div>
                <div class="value">{{ this.character.constitution }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Sagesse</div>
                <div class="value">{{ this.character.wisdom }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Intelligence</div>
                <div class="value">{{ this.character.intelligence }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Charisme</div>
                <div class="value">{{ this.character.charisma }}</div>
            </div>
        </div>

        <div class="attributes">
            <div class="metrics">
                {% set bonus = app_characterBonusService.characterBonus(this.character, 'health') %}
                <div class="metric {% if bonus['extra'] %}text-success{% endif %}">
                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                    {{ this.character.health + bonus['amount'] }}
                </div>

                {% set bonus = app_characterBonusService.characterBonus(this.character, 'mana') %}
                <div class="metric {% if bonus['extra'] %}text-success{% endif %}">
                    {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                    {{ this.character.mana + bonus['amount'] }}
                </div>
            </div>

            <div class="metrics">
                {% set bonus = app_characterBonusService.characterBonus(this.character, 'defense') %}
                <div class="metric {% if bonus['extra'] %}text-success{% endif %}">
                    {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                    +{{ bonus['amount'] }}
                </div>

                {% set bonus = app_characterBonusService.characterBonus(this.character, 'damage') %}
                {% set magicalBonus = app_characterBonusService.characterBonus(this.character, 'magicalDamage') %}
                <div class="metric {% if bonus['extra'] or magicalBonus['extra'] %}text-success{% endif %}">
                    {% set weapons = app_characterItemService.equippedWeapons(this.character) %}
                    {% set magicalWeapons = app_characterItemService.equippedWeapons(this.character, true) %}
                    {% if weapons is not empty %}
                        {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                    {% elseif magicalWeapons is not empty %}
                        {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                    {% else %}
                        {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                    {% endif %}
                    +{{ bonus['amount'] + magicalBonus['amount'] }}
                </div>
            </div>

            <div class="fortune">
                {{ ux_icon('game-icons:crown-coin', {'class': 'app-icon text-warning'}) }}
                {{ this.character.fortune }}
            </div>
        </div>
    </div>

    <div class="description">
        {{ this.character.description | raw }}
    </div>
</div>
