<div class="sheet-content spells {% if this.activeContent == 'spells' %}active{% endif %}">
    <h3 class="sheet-subtitle">Sortilèges</h3>

    <div class="categories">
        {% for category, characterSpells in app_characterSpellService.characterSpells(this.character) %}
            <h4 class="name">{{ category }}</h4>

            <div class="app-grid three">
                {% for characterSpell in characterSpells %}
                    <div class="app-card spell" data-controller="tooltip">
                        <a href="#" data-action="click->tooltip#open">
                            <div class="card-header">
                                <div class="card-attributes">
                                    <div class="card-attribute text-fourth">
                                        {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon'}) }}
                                        {{ characterSpell.spell.mana + characterSpell.mana }}
                                    </div>
                                    {% if characterSpell.spell.type == 'Offensif' %}
                                        <div class="card-attribute text-third">
                                            {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon'}) }}
                                            {{ characterSpell.spell.amount + characterSpell.amount }}
                                        </div>
                                    {% elseif characterSpell.spell.type == 'Défensif' or characterSpell.spell.type == 'Utile' %}
                                        {% if characterSpell.spell.effect is not null %}
                                            <div class="card-attribute text-primary">
                                                {{ ux_icon('lsicon:time-two-filled', {'class': 'app-icon'}) }}
                                                {{ characterSpell.spell.duration + characterSpell.duration }}
                                            </div>
                                        {% else %}
                                            {% if characterSpell.spell.target == 'health' %}
                                                <div class="card-attribute text-third">
                                                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon'}) }}
                                                    +{{ characterSpell.spell.amount + characterSpell.amount }}
                                                </div>
                                            {% elseif characterSpell.spell.target == 'mana' %}
                                                <div class="card-attribute text-fourth">
                                                    {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon'}) }}
                                                    +{{ characterSpell.spell.amount + characterSpell.amount }}
                                                </div>
                                            {% elseif characterSpell.spell.target == 'defense' %}
                                                <div class="card-attribute text-primary">
                                                    {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon'}) }}
                                                    +{{ characterSpell.spell.amount + characterSpell.amount }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <img src="{{ asset('img/core/spell/' ~ characterSpell.spell.category.picture) }}" alt="{{ characterSpell.spell.name }}" class="card-image"/>
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">{{ characterSpell.spell.name }}</h3>
                            </div>
                        </a>
                        {% include 'game/_layout/_character/_sheet/_tooltip/_spell.html.twig' with {characterSpell: characterSpell} %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
