{% set sellableItems = app_tradeService.sellableItems(this.character, this.playerCharacter.character) %}
{% if this.activeCategoryFilter %}
    {% set sellableItems = sellableItems | filter(item => item.item.category.slug == this.activeCategoryFilter) %}
{% endif %}

{% if sellableItems | length > 0 %}
    <div class="items">
        {% for characterItem in sellableItems %}
            <div class="app-card item"
                 data-controller="tooltip">
                <a href="#" data-action="click->tooltip#open">
                    <div class="card-header">
                        {% if app_characterItemService.canEquipItem(this.character, characterItem) == false %}
                            <span class="warning">
                                {{ ux_icon('fe:disabled', {'class': 'app-icon'}) }}
                            </span>
                        {% endif %}

                        {% if characterItem.equipped %}
                            <span class="equipped">
                                {{ ux_icon('game-icons:light-backpack', {'class': 'app-icon'}) }}
                            </span>
                        {% endif %}

                        {% if characterItem.item.thumbnail is defined %}
                            <img src="{{ asset('img/core/item/' ~ characterItem.item.category.folder ~ '/' ~ characterItem.item.thumbnail) }}"
                                 class="card-image {% if app_characterItemService.canSellItem(this.playerCharacter, characterItem) == false %}disabled{% endif %} {% if app_characterItemService.health(characterItem).health <= 0 %}broken{% endif %}"
                                 alt="{{ characterItem.item.name }}"/>
                        {% else %}
                            <img src="{{ asset('img/core/item/' ~ characterItem.item.category.folder ~ '/' ~ characterItem.item.picture) }}"
                                 class="card-image {% if app_characterItemService.canSellItem(this.playerCharacter, characterItem) == false %}disabled{% endif %} {% if app_characterItemService.health(characterItem).health <= 0 %}broken{% endif %}"
                                 alt="{{ characterItem.item.name }}"/>
                        {% endif %}
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">{{ characterItem.item.name }}</h4>
                    </div>
                </a>
                {% include '_layout/_tooltip/_item.html.twig' with {characterItem: characterItem} %}

                <div class="card-footer">
                    <button class="bg-success {% if app_characterItemService.canSellItem(this.playerCharacter, characterItem) == false %}disabled{% endif %}"
                            {{ live_action('sellItem', {'characterItemId': characterItem.id }) }}>
                        {{ ux_icon('game-icons:crown-coin', {'class': 'app-icon text-warning'}) }}
                        {{ app_tradeService.itemPrice(this.playerCharacter, characterItem, 'sell') }} ({{ characterItem.item.price }})
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>
        <strong>Aucun objet à vendre.</strong>
    </p>
{% endif %}

{% include 'game/screen/trade/_component/_main/_filters.html.twig' with { side: 'sell' } %}
