<div class="footer-actions">
    {% if this.screen.actions.footer is defined %}
        {% for group, actions in this.screen.actions.footer %}
            {% for action in actions %}
                {% if action.type in ['pray'] %}
                    <button class="app-button cta" title="{{ action.label }}" {{ live_action('pray', {characterSlug: action.slug}) }}>
                        <img src="{{ asset(action.thumbnail) }}" alt="{{ action.label }}"/>
                    </button>
                {% elseif action.type in ['riddle'] %}
                    <a href="{{ path('app_game_screen_' ~ action.type, {'id': action.id}) }}" class="app-button cta" title="Énigme : {{ action.label }}">
                        <img src="{{ asset(action.thumbnail) }}" alt="{{ action.label }}"/>
                    </a>
                {% else %}
                    <a href="{{ path('app_game_screen_' ~ action.type, {'slug': action.slug}) }}"
                       class="app-button cta {% if action.isQuest is defined and action.isQuest %}focus{% endif %}"
                       title="{% if action.type == 'combat' %}Combat : {% endif %}{{ action.label }}">
                        {% if action.type == 'combat' %}
                            <img src="{{ asset('img/core/action/attack.png') }}" class="combat" alt="Combat"/>
                        {% endif %}
                        <img src="{{ asset(action.thumbnail) }}" alt="{{ action.label }}"/>
                    </a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
