<div class="screen-headerinfos">
    <div class="left">
        <div class="screen-info">
            {{ ux_icon('game-icons:crown-coin', {'class': 'app-icon text-warning'}) }}
            {{ this.character.fortune }}
        </div>
    </div>

    <div class="right">
        <div class="screen-info {% if this.playerNpc.reputation < 0 %}text-third{% else %}text-primary{% endif %}">
            {{ this.playerNpc.reputation > 0 ? '+' ~ this.playerNpc.reputation : this.playerNpc.reputation }}
            {{ ux_icon('mdi:head-heart-outline', {'class': 'app-icon'}) }}
        </div>

        <div class="screen-info">
            {{ this.playerNpc.fortune }}
            {{ ux_icon('game-icons:crown-coin', {'class': 'app-icon text-warning'}) }}
        </div>
    </div>
</div>
