<!DOCTYPE html>
<html lang="{{ app_locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="turbo-cache-control" content="no-cache">

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">

        <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}"/>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}"/>
        <meta name="apple-mobile-web-app-title" content="8R"/>
        <link rel="manifest" href="{{ asset('site.webmanifest') }}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Uncial+Antiqua&display=swap" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>
