{% set eligibleCombats = [] %}
{% set knownCombats = [] %}
{% set selectedCombats = [] %}
{% set now = "now"|date("U") %}
{% set playerLevel = this.character.level %}

{# Étape 1 : on trie les combats #}
{% for combat in this.activeScreen.location.combats %}
    {% if not combat.step and combat.level is defined and combat.level <= playerLevel %}
        {% set playerCombatExists = false %}
        {% set playerHasCombat = false %}

        {% for playerCombat in this.character.playerCombats %}
            {% if playerCombat.combat == combat %}
                {% set playerCombatExists = true %}
                {% if playerCombat.status != 'victory' %}
                    {% set playerHasCombat = true %}
                    {% set knownCombats = knownCombats | merge([combat]) %}
                {% elseif playerCombat.status == 'victory' and (now - playerCombat.updatedAt|date("U")) >= 86400 %}
                    {% set playerHasCombat = true %}
                    {% set knownCombats = knownCombats | merge([combat]) %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if not playerCombatExists %}
            {% set playerHasCombat = true %}
        {% endif %}

        {% if playerHasCombat %}
            {% set eligibleCombats = eligibleCombats | merge([combat]) %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Étape 2 : sélection finale #}
{% if eligibleCombats | length == 1 %}
    {% if this.activeScreen.location.type in ['plain', 'forest', 'mountain'] %}
        {% set selectedCombats = eligibleCombats %}
    {% elseif random([true, false]) %}
        {% set selectedCombats = eligibleCombats %}
    {% endif %}
{% elseif eligibleCombats | length > 1 %}
    {% if knownCombats is not empty %}
        {% set selectedCombats = [knownCombats|first] %}
    {% else %}
        {% set selectedCombats = eligibleCombats | shuffle | slice(0,1) %}
    {% endif %}
{% endif %}

{% set malfratCombatAvailable = false %}
{% for combat in selectedCombats %}
    {% if combat.name == 'Des malfrats vous accostent' %}
        {% set playerCombatExists = false %}
        {% for playerCombat in this.character.playerCombats %}
            {% if playerCombat.combat == combat %}
                {% set playerCombatExists = true %}
                {% if playerCombat.status != 'victory' or (playerCombat.status == 'victory' and (now - playerCombat.updatedAt|date("U")) >= 86400) %}
                    {% set malfratCombatAvailable = true %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if not playerCombatExists %}
            {% set malfratCombatAvailable = true %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="app-screen location {{ this.activeScreen.location.type }}" data-loading="addClass(loading)">
    {% if this.activeScreen.location.type == 'building' %}
        <img src="{{ asset('img/core/location/' ~ this.activeScreen.location.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>
    {% elseif this.activeScreen.location.type in ['plain'] %}
        <img src="{{ asset('img/core/location/' ~ this.activeScreen.location.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>
    {% else %}
        {% if malfratCombatAvailable %}
            <img src="{{ asset('img/chapter1/location/nuit_' ~ this.activeScreen.location.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>
        {% else %}
            <img src="{{ asset('img/chapter1/location/' ~ this.activeScreen.location.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>
        {% endif %}
    {% endif %}

    {% include 'game/default/_component/_location/_header/_index.html.twig' %}

    {% include 'game/default/_component/_location/_main.html.twig' %}

    {% include 'game/default/_component/_location/_footer/_index.html.twig' %}
</div>
