<header class="sheet-header">
    <a href="{{ path('app_character_sheet_player', {'back': back}) }}" class="app-button back">
        {{ ux_icon('icon-park-solid:back', {'class': 'app-icon'}) }}
    </a>

    <figure class="sheet-picture">
        <img src="{{ asset('uploads/character/' ~ character.picture) }}" alt="{{ character.name }}"/>
    </figure>

    <h1>{{ character.name }}</h1>
    <h2>{{ contentTitle }}</h2>
</header>
