{% extends 'game/_layout/_character/_form/_index.html.twig' %}

{% block title %}Nouveau Personnage - Les Huit Royaumes - Chapitre I : L'Éveil{% endblock %}

{% block body_class %}game character form{% endblock %}

{% block main %}
    <section class="app-section">
        <header>
            <img src="{{ asset('img/core/character/' ~ character.picture) }}" class="sheet-picture" alt="{{ character.name }}"/>

            <h2>{{ character.name }}</h2>
        </header>

        {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
        <fieldset class="form-fieldset">
            <div class="app-grid two mb-1">
                <div class="form-group">
                    {{ form_label(form.race) }}
                    {{ form_widget(form.race) }}
                    {{ form_help(form.race) }}
                    {{ form_errors(form.race) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.profession) }}
                    {{ form_widget(form.profession) }}
                    {{ form_help(form.profession) }}
                    {{ form_errors(form.profession) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_help(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.picture) }}
                {{ form_widget(form.picture) }}
                {{ form_help(form.picture) }}
                {{ form_errors(form.picture) }}
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_help(form.description) }}
                {{ form_errors(form.description) }}
            </div>
        </fieldset>

        {{ form_widget(form._token) }}
        <button class="app-button cta" type="submit">Créer</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
