<div class="screen-footeractions">
    {% for creatureCombat in this.playerCombat.combat.creatureCombats %}
        <div class="combat-action" data-controller="popup">
            <button class="screen-action"
                    title="{{ creatureCombat.creature.name }}"
                    {# {{ live_action('flee') }} #}
                    data-action="click->popup#open">
                <img src="{{ asset('img/core/creature/thumb_' ~ creatureCombat.creature.picture) }}" alt="{{ creatureCombat.creature.name }}"/>
                <div class="gauge">
                    <div class="gauge-fill success"
                         style="--value: 1"></div>
                </div>
            </button>
            {% include 'game/_layout/_game/_combat/_actions.html.twig' with {'creatureCombat': creatureCombat, 'position': loop.index} %}
        </div>
    {% endfor %}

    <button class="screen-action" title="Fuir" {{ live_action('flee') }}>
        <img src="{{ asset('img/core/action/flee.png') }}" alt="Fuir"/>
    </button>
</div>
