<div class="sheet-content details {% if this.activeContent == 'details' %}active{% endif %}">
    <h3 class="sheet-subtitle">{{ this.character.profession.name }}&nbsp;{{ this.character.race.name }}</h3>

    <div class="infos">
        <div class="characteristics">
            <div class="characteristic">
                <div class="name">Force</div>
                <div class="value">{{ this.character.strength + this.character.race.bonusStats['strength'] }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Dextérité</div>
                <div class="value">{{ this.character.dexterity + this.character.race.bonusStats['dexterity'] }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Constitution</div>
                <div class="value">{{ this.character.constitution + this.character.race.bonusStats['constitution'] }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Sagesse</div>
                <div class="value">{{ this.character.wisdom + this.character.race.bonusStats['wisdom'] }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Intelligence</div>
                <div class="value">{{ this.character.intelligence + this.character.race.bonusStats['intelligence'] }}</div>
            </div>
            <div class="characteristic">
                <div class="name">Charisme</div>
                <div class="value">{{ this.character.charisma + this.character.race.bonusStats['charisma'] }}</div>
            </div>
        </div>

        <div class="attributes">
            <div class="metrics">
                {% set bonus = app_characterBonusService.characterBonus(this.character, 'health') %}
                <div class="metric {% if bonus['extra'] %}text-success{% endif %}">
                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                    {{ bonus['amount'] + ((this.character.constitution + this.character.race.bonusStats['constitution']) * 10) }}
                </div>

                {% set bonus = app_characterBonusService.characterBonus(this.character, 'mana') %}
                <div class="metric {% if bonus['extra'] %}text-success{% endif %}">
                    {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                    {{ bonus['amount'] + ((this.character.intelligence + this.character.race.bonusStats['intelligence']) * 10) }}
                </div>
            </div>

            <div class="metrics">
                {% set bonus = app_characterBonusService.characterBonus(this.character, 'defense') %}
                <div class="metric {% if bonus['extra'] %}text-success{% endif %}">
                    {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                    +{{ bonus['amount'] }}
                </div>

                {% set bonus = app_characterBonusService.characterBonus(this.character, 'damage') %}
                {% set magicalBonus = app_characterBonusService.characterBonus(this.character, 'magicalDamage') %}
                <div class="metric {% if bonus['extra'] or magicalBonus['extra'] %}text-success{% endif %}">
                    {% set weapons = app_characterItemService.equippedWeapons(this.character) %}
                    {% set magicalWeapons = app_characterItemService.equippedWeapons(this.character, true) %}
                    {% if weapons is not empty %}
                        {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                    {% else %}
                        {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                    {% endif %}
                    +{{ bonus['amount'] + magicalBonus['amount'] }}
                </div>
            </div>

            <div class="fortune">
                {{ ux_icon('game-icons:crown-coin', {'class': 'app-icon text-warning'}) }}
                {{ this.character.fortune }}
            </div>
        </div>
    </div>

    <div class="description">
        {{ this.character.description | raw }}
    </div>
</div>
