<div class="sheet-content inventory {% if this.activeContent == 'inventory' %}active{% endif %}">
    <h3 class="sheet-subtitle">Inventaire</h3>

    <div class="categories">
        {% for category, characterItems in app_CharacterItemService.characterItems(this.character) %}
            <h4 class="name">{{ category }}</h4>

            <div class="app-grid three">
                {% for characterItem in characterItems %}
                    <div class="app-card item" data-controller="tooltip">
                        <a href="#" data-action="click->tooltip#open">
                            <div class="card-header">
                                {% if characterItem.item.category.slug != 'carte' and characterItem.item.category.slug != 'cadeau' %}
                                    <div class="card-attributes">
                                        {% if characterItem.item.category.slug == 'armure' or characterItem.item.category.slug == 'bouclier' %}
                                            {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                                            +{{ characterItem.item.defense }}
                                        {% elseif characterItem.item.category.slug == 'arme' %}
                                            {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                                            +{{ characterItem.item.damage }}
                                        {% elseif characterItem.item.category.slug == 'arme-magique' %}
                                            {% if characterItem.item.type == 'Offensif' %}
                                                {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                                            {% elseif characterItem.item.type == 'Défensif' %}
                                                {% if characterItem.item.target == 'health' %}
                                                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                                {% elseif characterItem.item.target == 'mana' %}
                                                    {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                                                {% endif %}
                                            {% endif %}
                                            +{{ characterItem.item.amount }}
                                        {% elseif characterItem.item.category.slug == 'potion' or characterItem.item.category.slug == 'parchemin' or characterItem.item.category.slug == 'anneau' or characterItem.item.category.slug == 'amulette' %}
                                            {% if characterItem.item.type == 'Défensif' %}
                                                {% if characterItem.item.target == 'health' %}
                                                    {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                                {% elseif characterItem.item.target == 'mana' %}
                                                    {{ ux_icon('game-icons:egg-defense', {'class': 'app-icon text-fourth'}) }}
                                                {% elseif characterItem.item.target == 'defense' %}
                                                    {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                                                {% endif %}
                                                +{{ characterItem.item.amount }}
                                            {% elseif characterItem.item.type == 'Offensif' %}
                                                {% if characterItem.item.target == 'health' %}
                                                    {{ ux_icon('game-icons:sabers-choc', {'class': 'app-icon text-third'}) }}
                                                {% elseif characterItem.item.target == 'damage' %}
                                                    {{ ux_icon('game-icons:crossed-swords', {'class': 'app-icon text-primary'}) }}
                                                {% endif %}
                                                +{{ characterItem.item.amount }}
                                            {% elseif characterItem.item.type == 'Utile' %}
                                                {{ ux_icon('entypo:tools', {'class': 'app-icon text-primary'}) }}
                                            {% endif %}
                                        {% elseif characterItem.item.category.slug == 'nourriture' %}
                                            {{ ux_icon('game-icons:health-potion', {'class': 'app-icon text-third'}) }}
                                            +{{ characterItem.item.amount }}
                                        {% endif %}
                                    </div>
                                {% endif %}

                                <img src="{{ asset('img/core/item/' ~ characterItem.item.category.folder ~ '/' ~ characterItem.item.picture) }}" alt="{{ characterItem.item.name }}" class="card-image"/>

                                {% if characterItem.health or characterItem.charge %}
                                    <div class="gauge">
                                        <div class="gauge-fill {% if characterItem.health %}success{% elseif characterItem.charge %}info{% endif %}" style="--value: 1"></div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">{{ characterItem.item.name }}</h3>
                            </div>
                        </a>
                        {% include 'game/_layout/_sheet/_tooltip.html.twig' with {characterItem: characterItem} %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <h4 class="name">Objets de quête</h4>

        <div class="app-grid three">
            <div class="app-card item" data-controller="tooltip">
                <a href="#" data-action="click->tooltip#open">
                    <div class="card-header">
                        <img src="{{ asset('img/core/item/amulet/amulet.png') }}" alt="Item Test" class="card-image"/>

                        <div class="card-attributes">
                            {{ ux_icon('game-icons:checked-shield', {'class': 'app-icon text-primary'}) }}
                            +20
                        </div>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title">Médaillon des vents</h3>
                    </div>
                </a>
                {# {% include 'game/_layout/_sheet/_tooltip.html.twig' with {'type': 'item', 'content': i} %} #}
            </div>
        </div>
    </div>
</div>
