<div class="screen-footeractions">
    <button class="screen-action" title="{{ this.activeScreen.dialogue.npc.name }}" {{ live_action('interactionScreen', {'id': this.activeScreen.dialogue.npc.id}) }}>
        <img src="{{ asset('img/chapter1/npc/thumb_' ~ this.activeScreen.dialogue.npc.picture) }}" alt="{{ this.activeScreen.dialogue.npc.name }}"/>
    </button>

    <button class="screen-action" title="Partir" {{ live_action('exitScreen') }}>
        <img src="{{ asset('img/core/action/exit.png') }}" alt="Partir"/>
    </button>
</div>
